<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
{{ $bodyClass := "page-default" }}
{{ if .IsHome }}
    {{ $bodyClass = "page-home" }}
{{ else if .Params.bodyclass }}
    {{ $bodyClass = .Params.bodyclass }}
{{ else if eq .Type "library" }}
    {{ $bodyClass = "page-library" }}
{{ else if eq .Section "yasan-launcher" }}
    {{ $bodyClass = "page-launcher" }}
{{ else if eq .Section "kotlin-community" }}
    {{ $bodyClass = "page-community" }}
{{ end }}
<body class="{{ $bodyClass }}">
{{ block "main" . }}{{ end }}
</body>
</html>
