{{ $href := .url }}
{{ $label := .label }}
{{ $icon := .icon }}
{{ $class := .class | default "link" }}
{{ $rel := .rel }}
{{ $target := .target }}
{{ $computedRel := $rel }}
{{ if eq $target "_blank" }}
    {{ $computedRel = cond $rel (printf "%s noopener noreferrer" $rel) "noopener noreferrer" }}
{{ end }}
<a href="{{ $href }}"{{ with $target }} target="{{ . }}"{{ end }}{{ with $computedRel }} rel="{{ . }}"{{ end }} class="{{ $class }}">
    <span>{{ $label }}</span>
    {{ with $icon }}
    <div class="link-icon" style="-webkit-mask-image: url('{{ (printf "/%s" .) | relURL }}'); mask-image: url('{{ (printf "/%s" .) | relURL }}');"></div>
    {{ end }}
</a>
